<table cellspacing="2" cellpadding="0" border="0">
  <tr>
    <td colspan="2" align="center" height="50"><h1>Consultar aluno</h1></td>
  </tr>
  <tr>
    <td colspan="2" align="center" style="color: green"><%= notice %></td>
  </tr>
  <% if !@aluno.matricula.nil?  %>
    <tr>
      <td height="20" align="right"><b><%=t :matricula %>:</b></td>
      <td align="left"><%=h @aluno.matricula %></td>
    </tr>
  <% end %>
  <%= render :partial => 'shared/pessoa_consulta_form' %>
  <tr>
    <td height="30" align="right"><b>Hist&oacute;rico Escolar:</b></td>
    <td align="left"><%=h @aluno.historico_escolar %></td>
  </tr>
  <tr>
    <td height="30" align="right"><b>Profiss&atilde;o:</b></td>
    <td align="left"><%=h @aluno.profissao %></td>
  </tr>
  <tr>
    <td height="30" align="right"><b>Certificado de Conclus&atilde;o/Dispansa do Servi&ccedil;o Militar:</b></td>
    <td align="left"><%=h @aluno.cert_militar %></td>
  </tr>
  <tr>
    <td colspan="2" align="center" height="50"><%= link_to "Editar", editar_aluno_path(@aluno) %> | <%= link_to "Voltar", :back %>
    </td>
  </tr>
</table>
