<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Cursos: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'base' %>
  </head>
  <body>
    <div id="menu">
      <h2>Menu</h2>
      <ul>
        <li><%= link_to "Administrar Cursos", cursos_path %></li>
        <li><%= link_to "Administrar Alunos", alunos_path %></li>
      </ul>
    </div>
    <div id="corpo">
      <%= yield %>
    </div>
  </body>
</html>
