<%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :ano %><br />
    <%= f.text_field :ano %>
  </p>
  <p>
    <%= f.label :max_alunos %><br />
    <%= f.text_field :max_alunos %>
  </p>
  <p>
    <%= f.label :curso_id %><br />
    <%= f.select :curso_id, lista_cursos.map {|r| [r.nome,r.id] }, :include_blank => 'Selecione' %>
  </p>