<div align="center">
  <p>
  <h1>Administração de Usuarios</h1>
</p>
<p>
  <%= link_to 'Novo usuario', novo_usuario_path %>
</p>
<fieldset style="width: 250px">
  <legend>Pesquisa de usuarioss</legend>
  <p style="color: red"><%= notice %></p>
  <%= form_tag '/usuarios/pesquisar' do %>
    <table>
      <tr>
        <td align="right">Nome:</td>
        <td align="left"><%= text_field_tag :nome %></td>
      </tr>
      <tr>
        <td colspan="2" align="right">
          <%= token_tag %>
          <%= submit_tag "Pesquisar" %>
        </td>
      </tr>
    </table>
  <% end %>
</fieldset>
</div>