<tr>
    <td height="30" align="right"><b>Nome:</b></td>
    <td align="left"><%=h @aluno.nome %></td>
  </tr>
  <tr>
    <td height="30" align="right"><b>CPF:</b></td>
    <td align="left"><%=h @aluno.cpf %></td>
  </tr>
  <tr>
    <td height="30" align="right"><b>Nº de Identidade:</b></td>
    <td align="left"><%=h @aluno.identidade %></td>
  </tr>
  <tr>
    <td height="30" align="right"><b>Certificado de Nascimento:</b></td>
    <td align="left"><%=h @aluno.cert_nascimento %></td>
  </tr>
  <tr>
    <td height="30" align="right"><b>Sexo:</b></td>
    <td align="left"><%=h @aluno.sexo %></td>
  </tr>
  <tr>
    <td height="30" align="right"><b>Estado Civil:</b></td>
    <td align="left"><%=h @aluno.estado_civil %></td>
  </tr>
  <tr>
    <td height="30" align="right"><b>Nacionalidade:</b></td>
    <td align="left"><%=h @aluno.nacionalidade %></td>
  </tr>
  <tr>
    <td height="30" align="right"><b>Nome do Pai:</b></td>
    <td align="left"><%=h @aluno.nome_pai %></td>
  </tr>
  <tr>
    <td height="30" align="right"><b>Nome da M&atilde;e:</b></td>
    <td align="left"><%=h @aluno.nome_mae %></td>
  </tr>
  <tr>
    <td height="30" align="right"><b>Nome do Respons&aacute;vel:</b></td>
    <td align="left"><%=h @aluno.nome_responsavel %></td>
  </tr>
  <tr>
    <td height="30" align="right"><b>CEP:</b></td>
    <td align="left"><%=h @aluno.cep %></td>
  </tr>
  <tr>
    <td height="30" align="right"><b>Endere&ccedil;o:</b></td>
    <td align="left"><%=h @aluno.endereco %></td>
  </tr>
  <tr>
    <td height="30" align="right"><b>Complemento:</b></td>
    <td align="left"><%=h @aluno.complemento %></td>
  </tr>
  <tr>
    <td height="30" align="right"><b>Bairro:</b></td>
    <td align="left"><%=h @aluno.bairro %></td>
  </tr>
  <tr>
    <td height="30" align="right"><b>Cidade:</b></td>
    <td align="left"><%=h @aluno.cidade %></td>
  </tr>
  <tr>
    <td height="30" align="right"><b>Estado:</b></td>
    <td align="left"><%=h @aluno.uf %></td>
  </tr>
  <tr>
    <td height="30" align="right"><b>Telefone Residencial:</b></td>
    <td align="left"><%=h @aluno.tel_residencial %></td>
  </tr>
  <tr>
    <td height="30" align="right"><b>Telefone Celular:</b></td>
    <td align="left"><%=h @aluno.tel_celular %></td>
  </tr>
  <tr>
    <td height="30" align="right"><b>E-mail:</b></td>
    <td align="left"><%=h @aluno.email %></td>
  </tr>
  <tr>
    <td height="30" valign="top" align="right"><b>Foto:</b></td>
    <td align="left"><%= image_tag("/alunos/code_image/#{@aluno.id}") %></td>
  </tr>
  <tr>
    <td height="30" align="right"><b>Hist&oacute;rico M&eacute;dico:</b></td>
    <td align="left"><%=h @aluno.historico_medico %></td>
  </tr>