<!DOCTYPE html>
<html>
  <head>
    <title>SGEV02</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
    <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" %>
    <%= javascript_include_tag "jquery-rails.js" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="menu">
      <ul>
        <li><%= link_to "Administrar Cursos", cursos_path %></li>
        <li><%= link_to "Administrar Alunos", alunos_path %></li>
        <li><%= link_to "Administrar Turmas", turmas_path %></li>
      </ul>
    </div>
    <div id="corpo">
      <%= yield %>
    </div>
  </body>
</html>
